<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="footer-script">
        <script th:src="@{/plugins/bower_components/jquery/dist/jquery.min.js}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script th:src="@{bootstrap/dist/js/bootstrap.min.js}"></script>
        <!-- Menu Plugin JavaScript -->
        <script th:src="@{/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js}"></script>
        <!--slimscroll JavaScript -->
        <script th:src="@{js/jquery.slimscroll.js}"></script>
        <!--Wave Effects -->
        <script th:src="@{js/waves.js}"></script>
        <!--Counter js -->
        <script th:src="@{/plugins/bower_components/waypoints/lib/jquery.waypoints.js}"></script>
        <script th:src="@{/plugins/bower_components/counterup/jquery.counterup.min.js}"></script>
        <!--Morris JavaScript -->
        <script th:src="@{/plugins/bower_components/raphael/raphael-min.js}"></script>
        <script th:src="@{/plugins/bower_components/morrisjs/morris.js}"></script>
        <!-- Calendar JavaScript -->
        <script src="/plugins/bower_components/moment/moment.js"></script>
        <script src='/plugins/bower_components/calendar/dist/fullcalendar.min.js'></script>
        <script src="/plugins/bower_components/calendar/dist/cal-init.js"></script>
        <!-- chartist chart -->
        <script th:src="@{/plugins/bower_components/chartist-js/dist/chartist.min.js}"></script>
        <script th:src="@{/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js}"></script>
        <!-- Custom tab JavaScript -->
        <script th:src="@{js/cbpFWTabs.js}"></script>

        <!-- Custom Theme JavaScript -->
        <script th:src="@{js/custom.min.js}"></script>
        <script th:src="@{js/dashboard1.js}"></script>
        <!--Style Switcher -->
        <script th:src="@{/plugins/bower_components/styleswitcher/jQuery.style.switcher.js}"></script>

        <script type="text/javascript">
        (function() {
        [].slice.call(document.querySelectorAll('.sttabs')).forEach(function(el) {
        new CBPFWTabs(el);
        });
        })();
        </script>
        <script th:src="@{/plugins/bower_components/toast-master/js/jquery.toast.js}"></script>

    </div>

    <div th:fragment="login-footer">
        <!-- jQuery -->
        <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Menu Plugin JavaScript -->
        <script src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>

        <!--slimscroll JavaScript -->
        <script src="/js/jquery.slimscroll.js"></script>
        <!--Wave Effects -->
        <script src="/js/waves.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/js/custom.min.js"></script>
        <!--Style Switcher -->
        <script src="/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    </div>

</head>
<body>


</body>
</html>