<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css">
</head>

<body>
<div class="join-header">
    <h1><img th:src="@{/img/login_logo.png}" title="Navie Beauty Studio"></h1>
</div>
<div class="join-title">
    <h2>기업 회원 가입</h2>
</div>
<div class="join-wrap">
    <div class="join-step">
        <ul>
            <li class="complate"><strong>Step1</strong><span>기업 구분</span></li>
            <li class="active"><strong>Step2</strong><span>약관 동의</span></li>
            <li><strong>Step3</strong><span>정보 입력</span></li>
            <li><strong>Step4</strong><span>완료</span></li>
        </ul>
    </div>
    <form class="join-form step2">
        <div class="input-item checkbox confirm-all">
            <input type="checkbox" id="confirm_all" hidden>
            <label for="confirm_all"><i class="i-square"></i>모두 확인, 동의 합니다.</label>
        </div>
        <div class="input-item checkbox">
            <input type="checkbox" id="confirm_1" name="confirm_item" hidden>
            <label for="confirm_1"><i class="i-square"></i>서비스 이용 약관 동의(필수)</label>
            <div class="confirm-content">
                서비스 이용약관 동의
            </div>
        </div>
        <div class="input-item checkbox">
            <input type="checkbox" id="confirm_2" name="confirm_item" hidden>
            <label for="confirm_2"><i class="i-square"></i>개인정보 수집 동의(필수)</label>
            <div class="confirm-content">
                서비스 이용약관 동의
            </div>
        </div>
        <div class="input-item checkbox">
            <input type="checkbox" id="confirm_3" name="confirm_item" hidden>
            <label for="confirm_3"><i class="i-square"></i>개인정보 제 3자 정보 제공 동의(필수)</label>
            <div class="confirm-content">
                서비스 이용약관 동의
            </div>
        </div>
    </form>
    <div class="join-btns">
        <a th:href="@{/join/}" class="btn">P R E V</a>
        <a th:href="@{/join/joinstep3}" class="btn active">N E X T</a>
    </div>
</div>

<div th:replace="fragments/footer :: footer-script"/>
<script>
    $(document).ready(function () {
        $('.input-item input').each(function () {
            $(this).on('blur', function () {
                if ($(this).val().trim() != "") {
                    $(this).addClass('has-val');
                }
                else {
                    $(this).removeClass('has-val');
                }
            })
        })
    })
</script>
</body>
</html>