

html,body{font-weight:normal;font-family:'Noto Sans', sans-serif,Malgun Gothic,Dotum,Apple SD Gothic Neo,sans-serif;font-size:100%;}
html,body,object,iframe,blockquote,pre,abbr,address,cite,code,del,dfn,img,ins,kbd,q,samp,small,sub,sup,var,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,div,h1,h2,h3,h4,h5,h6,b,i{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}
h1,h2,h3,h4,h5,h6,b,i,th{font-size:inherit;font-weight:inherit}
p,span{margin:0;padding:0;border:0;outline:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
ul{list-style-type:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;color:inherit;cursor:pointer;text-decoration:none}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}
input{padding:0;margin:0}
input,select{vertical-align:middle;border-style:none}
input[type=submit],input[type=button],input[type=reset]{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none}
body{line-height:1.5;-webkit-text-size-adjust:none;}
.login-body {background-color: #ffa4a8; /* #ff758d */}

/* Width */
.w0 {display:none !important;}
.w5 {width:5% !important;}
.w10 {width:10% !important;}
.w15 {width:15% !important;}
.w20 {width:20% !important;}
.w25 {width:25% !important;}
.w30 {width:30% !important;}
.w35 {width:35% !important;}
.w40 {width:40% !important;}
.w45 {width:45% !important;}
.w50 {width:50% !important;}
.w55 {width:55% !important;}
.w60 {width:60% !important;}
.w65 {width:65% !important;}
.w70 {width:70% !important;}
.w75 {width:75% !important;}
.w80 {width:80% !important;}
.w85 {width:85% !important;}
.w90 {width:90% !important;}
.w95 {width:95% !important;}
.w100 {width:100% !important;}

/* Login */

.login-box {position:absolute;top:50%;left:50%;width:350px;background-color:#fff;border-radius:10px;padding:40px 50px;text-align:center;transform:translate(-50%,-50%);}/* box-shadow:0 0 25px rgba(0,0,0,0.2); */
.login-form .input-item {position:relative;margin-top:15px;}
.login-form .input-item label {position:absolute;top:25;left:10px;font-size:14px;pointer-events:none;}
.login-form .input-item input {width:100%;border-bottom:2px solid #ddd;line-height:40px;padding:0 0 0 15px;margin-top:20px;color:#e93e5c;font-size:16px;}
.login-form .input-item input:-webkit-autofill {-webkit-box-shadow:0 0 0 50px white inset;}
.login-form .input-item input:focus {border-color:#e93e5c;outline:none;transition:all 0.4s;}
.login-form .input-item input:focus + label {top:0;color:#999;transition:all 0.4s;}
.login-form .input-item input.has-val + label {top:0;color:#999;}
.login-form .btn-box {padding:40px 0 20px 0;float:left;width:100%;box-sizing:border-box;}
.login-form .btn-box .login-btn {width:100%;line-height:50px;text-align:center;background-color:#e93e5c;color:#fff;font-size:16px;font-weight:bold;text-transform:uppercase;letter-spacing:2px;border-radius:25px;box-shadow:0 10px 10px #ddd;cursor:pointer;}
.login-form .btn-box .login-btn:hover,
.login-form .btn-box .login-btn:focus {background-color:#e93e5c;box-shadow:0 0 0 transparent;}
.login-form .btn-box .login-btn:active {background-color:#d32d4c;box-shadow:0 0 0 transparent;}
.login-form .link-box {padding:10px 0 0 0;}
.login-form .link-box .link-item {color:#333;line-height:33px;}
.login-form .link-box a {display:inline-block;color:#e93e5c;}
.login-form .link-box a:hover {text-decoration:underline;}

/* Join */
.join-header {text-align:center;padding:20px 0;border-bottom:1px solid #ddd;}

.join-wrap {margin:0 auto;max-width:1200px;}

.join-title {text-align:center;padding:40px 0;font-size:28px;background-color:#fafafa;border-bottom:1px solid #ddd;}

.join-step {padding:60px 0 80px 0;position:relative;}
.join-step:after {content:"";position:absolute;display:block;top:69px;left:12.5%;right:12.5%;height:1px;background-color:#cecece;z-index:-1;}
.join-step ul:after {content:"";display:block;clear:both;}
.join-step li {position:relative;float:left;width:25%;text-align:center;}
.join-step li strong {position:relative;display:inline-block;border:3px solid #ddd;width:20px;height:20px;border-radius:10px;overflow:hidden;text-indent:-999px;box-sizing:border-box;box-shadow:0 0 10px #ddd;background-color:#fff;}
.join-step li.active strong {background-color:#e93e5c;border-color:#fff;}
.join-step li.complate strong {background-color:#888;border-color:#fff;}
.join-step li span {position:absolute;top:25px;left:0;text-align:center;width:100%;font-size:14px;color:#999;}
.join-step li.active span {color:#e93e5c;}

.join-btns {text-align:center;padding:100px 0;font-size:0;}
.join-btns .btn {padding:15px 100px;font-size:16px;border:1px solid #ddd;color:#333;border-radius:30px;box-shadow:0 0 5px #ddd;margin:0 15px;}
.join-btns .btn.active {background:#e93e5c;border-color:#e93e5c;color:#fff;box-shadow:0 0 5px #aaa;}
.join-btns .btn i {vertical-align:baseline;}

.join-form {margin:0 auto;}
.join-form:after {content:"";display:block;clear:both;}

.join-form.step1 ul:after {content:"";display:block;clear:both;}
.join-form.step1 li {float:left;margin:0 1.5%;width:30%;box-sizing:border-box;}
.join-form.step1 li label {display:block;text-align:center;border:3px solid #ddd;border-radius:10px;padding:50px 30px;box-sizing:border-box;cursor:pointer;box-shadow:0 0 15px #eee;}
.join-form.step1 li input[type="radio"]:checked + label {border-color:#e93e5c;box-shadow:0 0 0 #fff;transition:all 0.4s;color:#e93e5c;}
.join-form.step1 li i {display:block;margin:0 auto 15px auto;font-size:48px;}
.join-form.step1 li h3 {font-size:24px;font-weight:bold;}
.join-form.step1 li p {font-size:16px;padding:20px 0 0 0;}

.join-form.step2 {max-width:800px;}

.join-form.step3 {max-width:400px;border:1px solid #ddd;padding:0 150px 50px 150px;}
.join-form.step3 h3 {float:left;width:100%;padding:40px 0 0 0;font-size:18px;color:#e93e5c;}
.join-form.step3 h3 i {padding-right:5px;}


.join-form.step4 {max-width:1200px;padding:50px 50px 0 50px;}
.join-form.step4 h3 {font-size:24px;text-align:center;}
.join-form.step4 h3 i {display:block;font-size:64px;margin-bottom:30px;color:#e93e5c;}

.input-item {float:left;width:100%;box-sizing:border-box;}
.input-item:after {content:"";display:block;clear:both;}

.input-item.text {position:relative;margin-top:15px;}
.input-item.text label {position:absolute;top:0px;left:10px;font-size:14px;pointer-events:none;}
.input-item.text input {width:100%;border-bottom:2px solid #ddd;line-height:40px;height:40px;padding:0 0 0 15px;margin-top:20px;color:#010101;font-size:16px;float:left;}
.input-item.text select {width:100%;border-bottom:2px solid #ddd;line-height:40px;padding:0 0 0 15px;margin-top:20px;color:#010101;font-size:16px;float:left;height:40px;outline:none;}

.input-item.text input:-webkit-autofill {-webkit-box-shadow:0 0 0 50px white inset;}
.input-item.text input:focus {border-color:#e93e5c;outline:none;transition:all 0.4s;}
.input-item.text input:focus + label {color:#999;transition:all 0.4s;}
.input-item.text input.has-val + label {color:#999;}
.input-item.text select:focus + label {color:#999;transition:all 0.4s;}
.input-item.text select.has-val + label {color:#999;}

.input-item.checkbox label {display:block;font-size:18px;padding:25px 0 15px 0;color:#555;cursor:pointer;}
.input-item.checkbox label i {padding-right:5px;}
.input-item.checkbox input[type="checkbox"]:checked + label i:before {content:"\eb48";color:#e93e5c;}

.input-item.import label:before {content:"*";color:#e93e5c;padding-right:3px;}

.input-item.checkbox.confirm-all label {font-size:24px;border-bottom:1px solid #ddd;}

.confirm-content {border:1px solid #ddd;background-color:#fafafa;height:100px;overflow:auto;font-size:12px;padding:5px;box-sizing:border-box;}